# Instagram API Configuration
# 
# To get these values:
# 1. Go to https://developers.facebook.com/
# 2. Create an App (Business type)
# 3. Add Instagram Basic Display product
# 4. Configure Instagram Basic Display:
#    - Add Instagram Test Users
#    - Get User Token
# 5. Exchange short-lived token for long-lived token (60 days)
#
# To get long-lived token, run:
# curl -i -X GET "https://graph.instagram.com/access_token?grant_type=ig_exchange_token&client_secret={YOUR_APP_SECRET}&access_token={SHORT_LIVED_TOKEN}"
#
# To refresh token (before it expires), run:
# curl -i -X GET "https://graph.instagram.com/refresh_access_token?grant_type=ig_refresh_token&access_token={LONG_LIVED_TOKEN}"

INSTAGRAM_ACCESS_TOKEN=your_instagram_access_token_here
INSTAGRAM_USER_ID=your_instagram_user_id_here
